In [1]:
import os
import dotenv

dotenv.load_dotenv()

True

In [3]:
env

{'ALLUSERSPROFILE': 'C:\\ProgramData',
 'APPCODE_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\appcode.vmoptions',
 'APPDATA': 'C:\\Users\\akjam\\AppData\\Roaming',
 'CLION_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\clion.vmoptions',
 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
 'COMPUTERNAME': 'JAMIE',
 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe',
 'DATAGRIP_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\datagrip.vmoptions',
 'DATASPELL_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\dataspell.vmoptions',
 'DEVECOSTUDIO_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\devecostudio.vmoptions',
 'DPCPPROOT': 'C:\\Program Files (x86)\\Intel\\oneAPI\\dpcpp-ct\\2024.1',
 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
 'EFC_9852': '1',
 'GATEWAY_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\gateway.vmoptions',
 'GOLAND_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\goland.vmoptions',
 'HOMEDRIVE': 'C:',
 'HOMEPATH': '\\Users\\akjam',
 'IDEA_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\idea.vmoptions',
 'IGCCSVC_DB': 'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAMRCf7lL2r0q9eQ0BomCjTQQAAAACAAAAAAAQZgAAAAEAACAAAAB+gXcKsX9ot2M1lSB9W3iJOYLiLoB5KgL7MKJ8MXqaQQAAAAAOgAAAAAIAACAAAACjuMr58G8sfY+A6rllUnGlu96TwjjxlL73pP81zeE2YGAAAADDkZT9Jx4ABKH0F/WP89jFJdomDEhIHIlCCHu4rMZgFSJuCWNcCR1GVUDy1moQ6cPHDNIRsZx3QIPywy0qbeQLFC8MJWrRnRhkCWVsJc+FTyTk5LU8q6Tsk7Vufds3ZDhAAAAAgdd6eLtK+11dcRJQfRCxrEKgi10TLgcyRR3OEKV7zBOnPHkanywgGltKWCco697TMq9T30DoP747iH/hvrGTyA==',
 'IPY_INTERRUPT_EVENT': '3468',
 'JAVA_HOME': 'C:\\swdtools\\jdk-21.0.2',
 'JETBRAINSCLIENT_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\jetbrainsclient.vmoptions',
 'JETBRAINS_CLIENT_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\jetbrains_client.vmoptions',
 'JPY_INTERRUPT_EVENT': '3468',
 'JPY_PARENT_PID': '3464',
 'JPY_SESSION_NAME': 'langchain/03-agent-sql.ipynb',
 'LOCALAPPDATA': 'C:\\Users\\akjam\\AppData\\Local',
 'LOGONSERVER': '\\\\JAMIE',
 'MKLROOT': 'C:\\Program Files (x86)\\Intel\\oneAPI\\mkl\\2024.1',
 'NUMBER_OF_PROCESSORS': '16',
 'ONEDRIVE': 'C:\\Users\\akjam\\OneDrive',
 'ONEDRIVECONSUMER': 'C:\\Users\\akjam\\OneDrive',
 'OS': 'Windows_NT',
 'PATH': 'C:\\Program Files (x86)\\VMware\\VMware Workstation\\bin\\;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\swdtools\\nodejs\\;C:\\Program Files\\Git\\cmd;C:\\swdtools\\Python312;C:\\Program Files (x86)\\Windows Kits\\10\\Windows Performance Toolkit\\;C:\\Program Files\\dotnet\\;C:\\Users\\akjam\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\akjam\\AppData\\Roaming\\npm;C:\\Program Files (x86)\\VMware\\VMware Workstation;C:\\swdtools\\apache-maven-3.9.6\\bin;C:\\swdtools\\Python312\\;C:\\swdtools\\jdk-21.0.2\\bin;C:\\Program Files\\Git\\usr\\bin;C:\\swdtools\\Python312\\Scripts;;C:\\Users\\akjam\\AppData\\Local\\Programs\\Ollama',
 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
 'PHPSTORM_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\phpstorm.vmoptions',
 'PROCESSOR_ARCHITECTURE': 'AMD64',
 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 186 Stepping 2, GenuineIntel',
 'PROCESSOR_LEVEL': '6',
 'PROCESSOR_REVISION': 'ba02',
 'PROGRAMDATA': 'C:\\ProgramData',
 'PROGRAMFILES': 'C:\\Program Files',
 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
 'PROGRAMW6432': 'C:\\Program Files',
 'PROMPT': '$P$G',
 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules;',
 'PUBLIC': 'C:\\Users\\Public',
 'PYCHARM_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\pycharm.vmoptions',
 'PY_HOME': 'C:\\swdtools\\Python312',
 'RIDER_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\rider.vmoptions',
 'RUBYMINE_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\rubymine.vmoptions',
 'SESSIONNAME': 'Console',
 'STUDIO_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\studio.vmoptions',
 'SYSTEMDRIVE': 'C:',
 'SYSTEMROOT': 'C:\\WINDOWS',
 'TEMP': 'C:\\Users\\akjam\\AppData\\Local\\Temp',
 'TMP': 'C:\\Users\\akjam\\AppData\\Local\\Temp',
 'USERDOMAIN': 'JAMIE',
 'USERDOMAIN_ROAMINGPROFILE': 'JAMIE',
 'USERNAME': 'akjam',
 'USERPROFILE': 'C:\\Users\\akjam',
 'WEBIDE_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\webide.vmoptions',
 'WEBSTORM_VM_OPTIONS': 'C:\\swdtools\\jetbra\\vmoptions\\webstorm.vmoptions',
 'WINDIR': 'C:\\WINDOWS',
 'ZES_ENABLE_SYSMAN': '1',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
 'GOOGLE_API_KEY': '<hidden>',
 'OPENAI_API_KEY': '<hidden>',
 'OPENAI_ORGANIZATION': 'org-4bI7M2Qa5KSCeDLI83jtZp98',
 'HUGGINGFACEHUB_API_TOKEN': '<hidden>',
 'DASHSCOPE_API_KEY': '<hidden>',
 'SERPAPI_API_KEY': '<hidden>'}

In [4]:
# 导入sqlite3库
import sqlite3

# 连接到数据库
conn = sqlite3.connect('FlowerShop.db')
cursor = conn.cursor()

# 执行SQL命令来创建Flowers表
cursor.execute('''
        CREATE TABLE Flowers (
            ID INTEGER PRIMARY KEY, 
            Name TEXT NOT NULL, 
            Type TEXT NOT NULL, 
            Source TEXT NOT NULL, 
            PurchasePrice REAL, 
            SalePrice REAL,
            StockQuantity INTEGER, 
            SoldQuantity INTEGER, 
            ExpiryDate DATE,  
            Description TEXT, 
            EntryDate DATE DEFAULT CURRENT_DATE 
        );
    ''')

# 插入5种鲜花的数据
flowers = [
    ('Rose', 'Flower', 'France', 1.2, 2.5, 100, 10, '2023-12-31', 'A beautiful red rose'),
    ('Tulip', 'Flower', 'Netherlands', 0.8, 2.0, 150, 25, '2023-12-31', 'A colorful tulip'),
    ('Lily', 'Flower', 'China', 1.5, 3.0, 80, 5, '2023-12-31', 'An elegant white lily'),
    ('Daisy', 'Flower', 'USA', 0.7, 1.8, 120, 15, '2023-12-31', 'A cheerful daisy flower'),
    ('Orchid', 'Flower', 'Brazil', 2.0, 4.0, 50, 2, '2023-12-31', 'A delicate purple orchid')
]

for flower in flowers:
    cursor.execute('''
        INSERT INTO Flowers (Name, Type, Source, PurchasePrice, SalePrice, StockQuantity, SoldQuantity, ExpiryDate, Description) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);
    ''', flower)

# 提交更改
conn.commit()

# 关闭数据库连接
conn.close()

OperationalError: table Flowers already exists

In [11]:
# 导入langchain的实用工具和相关的模块
from langchain.utilities import SQLDatabase
from langchain_google_genai import GoogleGenerativeAI
from langchain_experimental.sql import SQLDatabaseChain
from langchain_community.llms.tongyi import Tongyi

# os.environ["https_proxy"] = "http://127.0.0.1:7890"

# 连接到FlowerShop数据库（之前我们使用的是Chinook.db）
db = SQLDatabase.from_uri("sqlite:///FlowerShop.db")

# 创建OpenAI的低级语言模型（LLM）实例，这里我们设置温度为0，意味着模型输出会更加确定性
# llm = GoogleGenerativeAI(model="gemini-pro", google_api_key=os.environ["GOOGLE_API_KEY"], temperature=0, verbose=True)
llm = Tongyi(dashscope_api_key=os.environ['DASHSCOPE_API_KEY'], temperature=0, verbose=True)

# 创建SQL数据库链实例，它允许我们使用LLM来查询SQL数据库
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

# 运行与鲜花运营相关的问题
response = db_chain.invoke("How many flower types are there？")
print(response)

response = db_chain.invoke("哪种鲜花的存货数量最少？")
print(response)

response = db_chain.invoke("平均销售价格是多少？")
print(response)

response = db_chain.invoke("从法国进口的鲜花有多少种？")
print(response)

response = db_chain.invoke("哪种鲜花的销售量最高？")
print(response)

> Entering new SQLDatabaseChain chain...
How many flower types are there？
SQLQuery:SELECT COUNT(DISTINCT "Type") FROM "Flowers"
SQLResult: [(1,)]
Answer:There is 1 flower type.
> Finished chain.
{'query': 'How many flower types are there？', 'result': 'There is 1 flower type.'}


> Entering new SQLDatabaseChain chain...
哪种鲜花的存货数量最少？
SQLQuery:SELECT "Name", "StockQuantity" FROM "Flowers" ORDER BY "StockQuantity" ASC LIMIT 1;
SQLResult: [('Orchid', 50)]
Answer:Orchid的存货数量最少，只有50个。
> Finished chain.
{'query': '哪种鲜花的存货数量最少？', 'result': 'Orchid的存货数量最少，只有50个。'}


> Entering new SQLDatabaseChain chain...
平均销售价格是多少？
SQLQuery:SELECT AVG("SalePrice") FROM "Flowers"
SQLResult: [(2.66,)]
Answer:平均销售价格是2.66。
> Finished chain.
{'query': '平均销售价格是多少？', 'result': '平均销售价格是2.66。'}


> Entering new SQLDatabaseChain chain...
从法国进口的鲜花有多少种？
SQLQuery:SELECT COUNT(DISTINCT "Name") FROM "Flowers" WHERE "Source" = 'France'
SQLResult: [(1,)]
Answer:从法国进口的鲜花有1种。
> Finished chain.
{'query': '从法国进口的鲜花有多少种？', 'result': '从法国进口的鲜花有1种。'}


> Entering new SQLDatabaseChain chain...
哪种鲜花的销售量最高？
SQLQuery:SELECT "Name" FROM "Flowers" ORDER BY "SoldQuantity" DESC LIMIT 1
SQLResult: [('Tulip',)]
Answer:Tulip的销售量最高。
> Finished chain.
{'query': '哪种鲜花的销售量最高？', 'result': 'Tulip的销售量最高。'}

In [12]:
from langchain.utilities import SQLDatabase
from langchain_community.llms.tongyi import Tongyi
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

# 连接到FlowerShop数据库
db = SQLDatabase.from_uri("sqlite:///FlowerShop.db")
llm = Tongyi(dashscope_api_key=os.environ['DASHSCOPE_API_KEY'], temperature=0, verbose=True)

# 创建SQL Agent
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

# 使用Agent执行SQL查询

questions = [
    "哪种鲜花的存货数量最少？",
    "平均销售价格是多少？",
]

for question in questions:
    response = agent_executor.run(question)
    print(response)

> Entering new SQL Agent Executor chain...
 我需要查询库存表中鲜花的数量，找出最少的数量。假设库存表名为'flowers_stock'，并且有字段'flower_name'代表鲜花名称，'quantity'代表数量。
Action: sql_db_query_checker
Action Input: SELECT flower_name, quantity FROM flowers_stock ORDER BY quantity ASC LIMIT 1The query appears to be correct. It selects the flower_name and quantity from the flowers_stock table, orders the results by quantity in ascending order, and limits the output to only one row. There are no mistakes related to the issues mentioned. Here's the final SQL query:

```sql
SELECT flower_name, quantity
FROM flowers_stock
ORDER BY quantity ASC
LIMIT 1;
```查询看起来没有问题，现在可以执行它来获取答案。
Action: sql_db_query
Action Input: SELECT flower_name, quantity FROM flowers_stock ORDER BY quantity ASC LIMIT 1Error: (sqlite3.OperationalError) no such table: flowers_stock
[SQL: SELECT flower_name, quantity FROM flowers_stock ORDER BY quantity ASC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8) 查询失败是因为'flowers_stock'表不存在。我需要使用sql_db_list_tables确认数据库中存在的表。
Action: sql_db_list_tables
Action Input:Flowers 看来库存表的名字是'Flowers'而不是'flowers_stock'。我需要修改查询以匹配正确的表名。
Action: sql_db_query_checker
Action Input: SELECT flower_name, quantity FROM Flowers ORDER BY quantity ASC LIMIT 1The given query seems to be correct and doesn't have any of the mentioned mistakes. Here it is again:

```sql
SELECT flower_name, quantity
FROM Flowers
ORDER BY quantity ASC
LIMIT 1;
``` 查询已检查无误，现在可以执行以获取结果。
Action: sql_db_query
Action Input: SELECT flower_name, quantity FROM Flowers ORDER BY quantity ASC LIMIT 1Error: (sqlite3.OperationalError) no such column: flower_name
[SQL: SELECT flower_name, quantity FROM Flowers ORDER BY quantity ASC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8) 查询失败是因为'flower_name'列不存在。我需要使用sql_db_schema来查看'Flowers'表的正确列名。
Action: sql_db_schema
Action Input: Flowers
CREATE TABLE "Flowers" (
	"ID" INTEGER,
	"Name" TEXT NOT NULL,
	"Type" TEXT NOT NULL,
	"Source" TEXT NOT NULL,
	"PurchasePrice" REAL,
	"SalePrice" REAL,
	"StockQuantity" INTEGER,
	"SoldQuantity" INTEGER,
	"ExpiryDate" DATE,
	"Description" TEXT,
	"EntryDate" DATE DEFAULT CURRENT_DATE,
	PRIMARY KEY ("ID")
)

/*
3 rows from Flowers table:
ID	Name	Type	Source	PurchasePrice	SalePrice	StockQuantity	SoldQuantity	ExpiryDate	Description	EntryDate
1	Rose	Flower	France	1.2	2.5	100	10	2023-12-31	A beautiful red rose	2024-05-16
2	Tulip	Flower	Netherlands	0.8	2.0	150	25	2023-12-31	A colorful tulip	2024-05-16
3	Lily	Flower	China	1.5	3.0	80	5	2023-12-31	An elegant white lily	2024-05-16
*/ 看来'flower_name'应该被替换为'Name'，因为这是'Flowers'表中表示鲜花名称的列。
Action: sql_db_query_checker
Action Input: SELECT Name, StockQuantity FROM Flowers ORDER BY StockQuantity ASC LIMIT 1The query seems to be correct without any of the mentioned mistakes. Here it is again:

```sql
SELECT Name, StockQuantity
FROM Flowers
ORDER BY StockQuantity ASC
LIMIT 1;
``` 查询已检查无误，现在可以执行以获取结果。
Action: sql_db_query
Action Input: SELECT Name, StockQuantity FROM Flowers ORDER BY StockQuantity ASC LIMIT 1[('Orchid', 50)] 最少存货的鲜花是'Orchid'，它的库存数量为50。
Final Answer: 最少存货的鲜花是'Orchid'，只有50株。

> Finished chain.
最少存货的鲜花是'Orchid'，只有50株。


> Entering new SQL Agent Executor chain...
 需要找到销售表中的平均销售价格。但首先，我需要知道销售表是否存在，以及它有哪些字段。
Action: sql_db_list_tables
Action Input:Flowers 销售表可能不在列表中，或者可能以不同的名称存在。我需要查询数据库的模式以获取更多信息。
Action: sql_db_schema
Action Input: Flowers
CREATE TABLE "Flowers" (
	"ID" INTEGER,
	"Name" TEXT NOT NULL,
	"Type" TEXT NOT NULL,
	"Source" TEXT NOT NULL,
	"PurchasePrice" REAL,
	"SalePrice" REAL,
	"StockQuantity" INTEGER,
	"SoldQuantity" INTEGER,
	"ExpiryDate" DATE,
	"Description" TEXT,
	"EntryDate" DATE DEFAULT CURRENT_DATE,
	PRIMARY KEY ("ID")
)

/*
3 rows from Flowers table:
ID	Name	Type	Source	PurchasePrice	SalePrice	StockQuantity	SoldQuantity	ExpiryDate	Description	EntryDate
1	Rose	Flower	France	1.2	2.5	100	10	2023-12-31	A beautiful red rose	2024-05-16
2	Tulip	Flower	Netherlands	0.8	2.0	150	25	2023-12-31	A colorful tulip	2024-05-16
3	Lily	Flower	China	1.5	3.0	80	5	2023-12-31	An elegant white lily	2024-05-16
*/ 销售表是"Flowers"，并且它有一个"SalePrice"字段，我可以使用这个字段来计算平均销售价格。现在，我将构造一个SQL查询来获取这个信息。
Action: sql_db_query_checker
Action Input: SELECT AVG("SalePrice") FROM "Flowers"The query seems to be calculating the average "SalePrice" from the "Flowers" table. I don't see any of the mentioned mistakes in the provided query. However, if "SalePrice" is a string and not a numeric value, you would need to cast it to a numeric data type before calculating the average. Assuming "SalePrice" is already a numeric column, the correct query is:

```sql
SELECT AVG(SalePrice) FROM "Flowers";
```查询看起来是正确的，可以执行它来获取平均销售价格。
Action: sql_db_query
Action Input: SELECT AVG("SalePrice") FROM "Flowers"Error: (sqlite3.OperationalError) unrecognized token: ""Flowers"
[SQL: SELECT AVG("SalePrice") FROM "Flowers]
(Background on this error at: https://sqlalche.me/e/20/e3q8) 查询中双引号的使用导致了错误，应该去掉双引号并重新尝试。
Action: sql_db_query
Action Input: SELECT AVG(SalePrice) FROM Flowers[(2.66,)] 平均销售价格是2.66。
Final Answer: 平均销售价格是2.66。

> Finished chain.
平均销售价格是2.66。